.row
  .col-md-8

    %h2
      %b
        = @collection.name
    %p
      = @collection.description

.row
  .col-md-8
    %h5
      Documents
    %table.table.table-hover
      - if @collection.documents.present?
        - @collection.documents.each do |document|
          = render :partial => 'documents/document', :locals => {:resource => document}
      - else
        %li
          None, yet.

= render partial: '/comments/show', locals: { :resource => @collection }