- if activity.trackable
  - collectible = Collectible.find( activity.trackable_id )
  - document = Document.find( collectible.document_id )
  - target = Collection.find( collectible.collection_id )


added
- if activity.trackable
  &ldquo;#{link_to collectible.name, collectible}&rdquo;
  to
  %b
    = link_to target.name, target
- else
  a thing, which has since been removed
  