.col-sm-8
  .pull-right
    = link_to 'New User', new_user_path, :class => 'btn btn-primary btn-sm', :role => 'button', :style => 'margin-top: 25px;'
    
  %h1
    Users

.clearfix

.col-sm-8
  %table.table.table-hover
    - @users.each do |user|
      %tr
        %td
          %b
            = link_to user.name, people_path(user, user.name.parameterize)
        %td{:style => 'text-align: right;'}
          #{link_to 'Edit', edit_user_path(user)} &nbsp;&#183;&nbsp; #{link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }}
