= form_tag( search_documents_path, :method => :get, :class => 'form-horizontal', :role => 'search', :style => 'margin-top: 15px;') do
  .row
    .col-sm-8
      .input-group
        = text_field_tag 'q', params[:q].present? ? params[:q] : '', :class => :'form-control', :placeholder => 'Search', :autofocus => true
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'}
            %span.glyphicon.glyphicon-search