-# %h1 Hello, Infonauts!
-#
-# %ul
-#   %li
-#     Don't get lost in the clouds
-#
-# %h1 Hello, Scientists!
-#
-# %ul
-#   %li
-#     Social Science
-#   %li
-#     Salesforce for Science

-# %h1
-#   Search everything from everywhere
-#
-# %h3
-#   Search everything from anywhere
-#
- if signed_in?
  = render :partial => 'shared/search_form'
  
- else

  %br
  %br
  %div
    -# = link_to "Sign in", new_user_session_path, :class => 'btn btn-primary'
    = link_to 'Sign in with Dropbox', user_omniauth_authorize_url(:dropbox_oauth2), :class => 'btn btn-primary'
  
  %br
  %br
  &mdash; OR &mdash;
  
  %br
  %br
  %div
    -# = link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'
    = link_to 'Sign up with Dropbox', user_omniauth_authorize_url(:dropbox_oauth2), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
    
.clearfix

%br

  -# %h5
  -#   Benefits
  -#
  -# %ul
  -#   %li
  -#     You should be able to find your data in Dropbox and get it out—it shouldn't be a Roach Motel.