-# %h1 Hello, Infonauts!
-#
-# %ul
-#   %li
-#     Don't get lost in the clouds
-#
-# %h1 Hello, Scientists!
-#
-# %ul
-#   %li
-#     Social Science
-#   %li
-#     Salesforce for Science

%h1
  Search everything from everywhere
  
= render :partial => 'shared/search'