%h3
  Recent collections
  -# %small
  -#  = link_to 'Add collection', new_collection_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

#collections
  - if @collections.present? && @collections.size > 0
    - @collections.each do |collection|
      = render partial: 'collections/thumb', locals: {collection: collection, creator: true}

%br
%br
.clearfix

%h3{style: 'margin-bottom: 20px;'}
  Recent documents
  -# %small
  -#  = link_to 'Add doc', new_document_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

- if @documents.present? && @documents.size > 0
  = render partial: 'documents/tiles', locals: {documents: @documents}

