- if signed_in?
  -# = render :partial => 'shared/search_form'

  %br
  %br
  %ul.list-unstyled
    - @dropbox['contents'].each do |file|
      = render :partial => 'documents/file', :locals => { :file => file }