- if signed_in?
  = render :partial => 'shared/search_form'

.row
  .col-sm-8
    - if params[:q].present?
      %div
        Results for
      %h2{:style => 'margin-top: 0;'}
        = params[:q]
      
  .clearfix

  .col-sm-8
    %br
    %table.table.table-hover
  
      - if @resources.present?
        - @resources.each do |result|
          = render :partial => 'documents/document', :locals => {:resource => result}
      - else
        %tr
          %td{ colspan: 2 }
            No results :-(
          
    - if @resources
      = will_paginate @resources, renderer: BootstrapPagination::Rails
      -# , :next_label => '&raquo;', :inner_window => '2', :next_label => 'Next &raquo;', :previous_label => '&laquo;'