.row
  .col-sm-8
    %br
    %table.table.table-hover
  
      - if @resources.present?
        - @resources.each do |result|
          = render :partial => 'documents/document', :locals => {:resource => result}
      - else
        %tr
          %td{ colspan: 2 }
            No documents, yet. You should connect your dropbox account, or upload some.
          
    - if @resources
      = will_paginate @resources, renderer: BootstrapPagination::Rails, :next_label => 'Next &raquo;', :previous_label => '&laquo;'
      