%h1
  Results
  
  
%ul{:class => 'list-unstyled'}
  - if @results.present?
    - @results.each do |result|
      %li
        = link_to result.name, slugged_document_path(result.id, result.name.parameterize)
  - else
    %li
      %i
        No results :-(
        
- if @results
    = will_paginate @results, :next_label => '&raquo;', :inner_window => '2', :next_label => 'Next &raquo;', :previous_label => '&laquo;'