Successfully copied #{atomic_unit}!
<br /><br />

View it on <b>#{link_to @copied_collectible.collection.name, @copied_collectible.collection}</b>, or go back to <b>#{link_to @collectible.collection.name, @collectible.collection}</b>