.row
  .col-md-9
    %h2
      - if @resources.present?
        #{pluralize(@resources.count, 'Collection')}
      - else
        Collections
    %br
    %table.table.table-hover
  
      - if @resources.present?
        - @resources.each do |result|
          -# = render :partial => 'documents/document', :locals => {:resource => result}
          = render :partial => 'collections/collection', :locals => {:resource => result}
      - else
        %tr
          %td{ colspan: 2 }
            No collections, yet. #{link_to 'Create one', new_collection_path}.
          
    - if @resources
      = will_paginate @resources, renderer: BootstrapPagination::Rails, :next_label => 'Next &raquo;', :previous_label => '&laquo;'
      