liked
- if activity.trackable
  - collection = Collection.find(activity.trackable_id)
  the collection
  %b
    = link_to collection.name, collection

- else
  a collection, which has since been removed 
