.col-sm-7
  .pull-right
    = link_to 'New grant', new_grant_path, :class => 'btn btn-primary btn-sm', :role => 'button', :style => 'margin-top: 25px;'
    
  %h1
    Grants

.clearfix

.col-sm-7
  %table.table.table-hover
    - @grants.each do |grant|
      %tr
        %td
          %b
            = link_to grant.name, grant
        %td{:style => 'text-align: right;'}
          #{link_to 'Edit', edit_grant_path(grant)} &nbsp;&#183;&nbsp; #{link_to 'Destroy', grant, :method => :delete, :data => { :confirm => 'Are you certain?' }}
