- if activity.trackable
  - object = Object.const_get(activity.trackable_type).find( activity.trackable_id )
  - target = Object.const_get(object.commentable_type).find( object.commentable_id )

commented on
- if activity.trackable
  the #{target.class.to_s.downcase}
  %b
    = link_to target.name, target
  .txt
    "#{truncate(object.body, length: 100)}"
- else
  an item that has since been removed 
