h1, h2, h3, h4, h5, h6
  font-family: 'Lato'
  font-weight: 700

p, div
  font-family: 'Lato'

@font-face
  font-family: 'Lato'
 
.navbar
  background-color: #4D394B
  a
    color: white
    
.navbar-brand
  color: white

.all-or-yours
  border-radius: 0
  border-left-width: 0
  border-right-width: 0
  
#comments ul li
  padding: 10px 0
  border-bottom: 1px solid #ddd
  

  