.invisible
  display: none

#comments ul li
  padding: 10px 0
  border-bottom: 1px solid #ddd
  
h1, h2, h3, h4, h5, h6
  font-family: 'Lato'

p, div
  font-family: 'Lato'
  
@font-face
  font-family: 'Lato'

h1
  font-family: Lato !important

/*#flot
  width: 500px
  height: 300px
  float: left*/
  
#alert
  padding: 10px
  
#notice
  padding: 10px
  
#error
  padding: 10px
  