.invisible
  display: none

#comments ul li
  padding: 10px 0
  border-bottom: 1px solid #ddd

#flot
  width: 500px
  height: 300px
  float: left
  
#costs
  width: 440px
  margin: 15px 0 0 520px
  padding: 15px
  border: 1px solid #777
  
  
#alert
  padding: 10px
  
#notice
  padding: 10px
  
#error
  padding: 10px
  