body
  padding-top: 50px


@font-face
  font-family: 'Lato'

p, div
  font-family: 'Lato'

h1, h2, h3, h4, h5, h6
  font-family: "Roboto", sans-serif
  font-weight: 700
  
.navbar
  background-color: #F1F1F1
  border: 0
  min-height: 50px
  a
    color: black

.navbar-header
  min-height: 50px
    
.navbar-brand
  color: #DA552F
  font-family: "Roboto", sans-serif
  font-size: 26px
  height: 50px
  line-height: 20px

.navbar-nav
  li
    a
      height: 50px

.navbar-right
  li:hover
    background-color: #777

.glyphicon
  letter-spacing: 3px

.top
  margin-top: 30px

.jumbotron
  background-color: lightgrey
  background-image: url(/cupcakes.jpg)
  background-position: 0% 25%
  background-size: cover
  background-repeat: no-repeat

.opaque
  rgba: 200, 54, 54, 0.5

.alert
  margin-bottom: 0
  border-radius: 0

.doc-image
  width: 320px
  border: 1px solid #333

@media (min-width: 768px)
  .doc-image
    width: 360px

#home
  h3
    margin-bottom: 20px
    small
      font-size: 15px
      a
        color: gray
        margin: 0 0 10px 15px
  
.small 
  color: #777

.activity
  border-bottom: solid 1px #CCC
  padding: 16px 0
  font-size: 12px
  color: #777
  .txt
    margin-top: 5px
    color: #333
  span
    a
      text_decoration: none

.collection 
  width: 185px
  border: 1px solid #444
  margin: 0 10px 10px 0
  padding: 6px
  img
    border: 1px solid #999
    width: 50px
    padding: 6px
    margin: 2px

.generic
  opacity: 0.2

.all-or-yours
  border-radius: 0
  border-left-width: 0
  border-right-width: 0

#comments
  padding: 15px 0 0 0
  ul li
    padding: 10px 0
    border-bottom: 1px solid #ddd

.tp-lt-corner
  -webkit-border-top-left-radius: 8px
  -moz-border-top-left-radius: 8px
  border-top-left-radius: 8px
  border: 1px solid #bbb
  margin: 0 4px 4px 0

.tp-rt-corner
  -webkit-border-top-right-radius: 8px
  -moz-border-top-right-radius: 8px
  border-top-right-radius: 8px
  border: 1px solid #bbb
  margin: 0 0 4px 0

.bt-lt-corner
  -webkit-border-bottom-left-radius: 8px
  -moz-border-bottom-left-radius: 8px
  border-bottom-left-radius: 8px
  border: 1px solid #bbb
  margin: 0 4px 0 0

.bt-rt-corner
  -webkit-border-bottom-right-radius: 8px
  -moz-border-bottom-right-radius: 8px
  border-bottom-right-radius: 8px
  border: 1px solid #bbb
  margin: 0 0 0 0


.item
  width: 227px
  margin: 0 20px 20px 0
  a
    text-decoration: none
    color: #aaa
  .top
    -webkit-border-top-left-radius: 4px
    -moz-border-top-left-radius: 4px
    border-top-left-radius: 4px
    -webkit-border-top-right-radius: 4px
    -moz-border-top-right-radius: 4px
    border-top-right-radius: 4px
    border: 1px solid #bbb
    border-bottom: none
    margin: 0
    padding: 0
  .txt
    background-color: white
    -webkit-border-bottom-left-radius: 4px
    -moz-border-bottom-left-radius: 4px
    border-bottom-left-radius: 4px
    -webkit-border-bottom-right-radius: 4px
    -moz-border-bottom-right-radius: 4px
    border-bottom-right-radius: 4px
    border: 1px solid #aaa
    margin: 0
    padding: 5px
    border-left: 1px solid #aaa
    border-bottom: 1px solid #aaa
    border-right: 1px solid #aaa
