- if activity.trackable
  - object = Object.const_get(activity.trackable_type).find( activity.trackable_id )
  / - target = Object.const_get(object.commentable_type).find( object.commentable_id )

%div{ style: 'margin-top: 5px;' }
  Created a document 
  - if activity.trackable
    in
    %b
      = link_to object.collections.first.name
  /   .txt
  /     = object.body    
  / - else
  /   which has since been removed 
