-# COPY over application.html.haml when it's ready

-# !!! 5
-# %html{:lang => "en"}
-#   %head
-#     %meta{:charset => 'utf-8'}
-#     %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
-#
-#     %meta{:name => "Description", :content => "Lab Management System"}
-#     %meta{:name => 'author', :content => 'John McGrath'}
-#     %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
-#
-#     %meta{:content => "Erlenmeyer", :property => "og:title"}
-#     %meta{:content => "Lab Management System", :property => "og:description"}
-#     %meta{:content => "//og_erlenmeyer.png", :property => "og:image"}
-#     %meta{:content => "//www.erlenmeyer.co", :property => "og:url"}
-#
-#     %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
-#
-#     %title= (Rails.env == 'development' ? '[DEV] ' : '') + (@title ? @title : 'Erlenmeyer')
-#
-#     = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
-#     = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css'
-#     = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css'
-#     = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/fonts/glyphicons-halflings-regular.svg'
-#
-#     = csrf_meta_tags
-#
-#   %body
-#
-#   .container
-#
-#     user_signed_in?: #{user_signed_in?}
-#
-#     %hr
-#
-#     %h5
-#       Admin!
-#
-#     %h1
-#       Ernlenmeyer
-#
-#     = javascript_include_tag 'application', 'data-turbolinks-track' => true
-#     = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'
-#     = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'
-#
-#     = yield
